* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #F6F3EF;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100; 
  color: #3A2F2A;
}

/* Navbar */
.navbar {
    position: sticky; /* keep nav bar to the top when scrolling page */
    top: 0;
    z-index: 1000; /* keep them in the front */
    background-color: #F6F3EF;
    border-bottom: 1px solid #C9BFB6;
    box-shadow: 0 4px 10px rgba(58, 47, 42, 0.05);
}

.navbar a {
  color: #3A2F2A;
  text-decoration: none;
}

.navbar a:hover {
  color: #D6A9A3;
}

.navbar a.active {
  color: #7A5E4F;
}
.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 15px 70px;
    color: #3A2F2A;
    font-size: 0.8rem;
}
.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
    align-items: center;
}

/* Hero section */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 50px;
  width: 100%;
  margin: 0 auto;
  background-color: #C9BFB6;
  flex-wrap: wrap;
  gap: 20px;
}

.hero-text {
  flex: 1;
  min-width: 280px;
}

.hero-text h1 {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 20px;
}

#name {
  color: #7A5E4F;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

#name i {
  color: #7A5E4F;
  transition: transform 0.2s ease, color 0.2s ease;
  font-size: 1rem;
}

#name:hover i {
  transform: scale(1.2);
  color: #D6A9A3;
}

.hero-text h1 span {
  color: #7A5E4F; 
}

.hero-text p {
  font-size: 1.1rem;
  max-width: 100%;
  color: #3A2F2A;
  margin-top: 15px;
}

/* Skills */

#skills {
  max-width: 900px;
  text-align: left;
  margin-top: 30px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style: none;
  padding: 0;
}

.skills li {
  padding: 7px 13px;
  border-radius: 999px;
  color: #3A2F2A;
  font-weight: 500;
  font-size: 0.7rem;
  box-shadow: 0 6px 14px rgba(58, 47, 42, 0.1);
}

.skills li:hover {
  transform: translateY(-5px);
  background-color: #D6A9A3;
  color: #FFFFFF;
}


/* Projects */

#projects {
  max-width: 1100px;
  margin: 50px auto;
  padding: 0 30px;
  text-align: left;
  gap: 40px;
}

#projects h2 {
  padding-bottom: 40px;
}


.project-card {
  padding: 30px;
  border-radius: 20px;
  color: #3A2F2A;
  box-shadow: 0 12px 25px rgba(58, 47, 42, 0.12);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 30px;
}

.project-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 20px 40px rgba(58, 47, 42, 0.18);
}

.project-content {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  flex-wrap: wrap;
}

.project-image  {
  width: 280px; 
  height: auto;
  border-radius: 15px;
  background: #F6F3EF;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.project-text {
  flex: 1; /* take remaining space */
  min-width: 280px; 
}

.project-image video {
  width: 280px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;  
}


/* Tech */
.project-text .tech {
  font-style: italic;
  color: #8E857D;
  margin-top: 8px;
}

/* Links */
.project-text .links a {
  display: inline-block;
  margin-top: 12px;
  padding: 10px 20px;
  background-color: #7A5E4F;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.project-text .links a:hover {
  background-color: #D6A9A3;
}



/* Contacts */
#contact {
  padding: 0 40px;
}

.contact-list {
  display: flex;
  flex-direction: column; /* STACK vertically */
  gap: 16px;
  margin-top: 20px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 14px;
  text-decoration: none;
  color: #3A2F2A;
  font-size: 1rem;
  font-weight: 500;
}

.contact-item i {
  font-size: 1.5rem;
  color: #7A5E4F;
  width: 28px;
}

.contact-item:hover {
  color: #7A5E4F;
}

.contact-item:hover i {
  color: #D6A9A3;
}

/* Footer */
footer {
  display: flex;
  background-color: #C9BFB6;
  text-align: left;
  padding: 20px 30px;
  color: #3A2F2A;
  font-size: 0.95rem;
  box-shadow: 0 -4px 10px rgba(58, 47, 42, 0.05);
  margin-top: 60px;
  justify-content: space-between;
}

footer p {
  margin: 0;
}

.footer-home {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #7A5E4F;
  transition: color 0.3s ease, transform 0.2s ease;
}

.footer-home:hover {
  color: #D6A9A3;
  transform: scale(1.2);
}

/* media for mobile */
@media (max-width: 768px) {
  .nav-container {
    flex-direction: column;
  }

  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-text h1 {
    font-size: 2.2rem;
  }

  .hero-text p {
    margin: 15px 10px;
  }
  #skills {
    text-align: center; /* center the section text */
  }

  .skills {
    justify-content: center; /* center the flex items */
  }
}

