* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #F6F3EF;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100; 
  color: #3A2F2A;
}

/* Navbar */
.navbar {
    position: sticky; /* keep nav bar to the top when scrolling page */
    top: 0;
    z-index: 1000; /* keep them in the front */
    background-color: #F6F3EF;
    border-bottom: 1px solid #C9BFB6;
    box-shadow: 0 4px 10px rgba(58, 47, 42, 0.05);
}

.navbar a {
  color: #3A2F2A;
  text-decoration: none;
}

.navbar a:hover {
  color: #D6A9A3;
}

.navbar a.active {
  color: #7A5E4F;
}
.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px 100px;
    color: #3A2F2A;
}
.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
    align-items: center;


}

/* Hero section */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 50px;
  max-width: 1100px;
  margin: 0 auto;
  background-color: #C9BFB6;
  flex-wrap: wrap;
  gap: 20px;
}

.hero-text {
  flex: 1;
  min-width: 280px;
}

.hero-text h1 {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero-text h1 span {
  color: #7A5E4F; /* accent color for name "Chisu" */
}

.hero-text p {
  font-size: 1.1rem;
  max-width: 500px;
  margin-bottom: 30px;
  color: #8E857D;
}

.hero-btn {
  display: inline-block;
  padding: 14px 26px;
  background-color: #7A5E4F; /* Muted Rose Beige */
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.hero-btn:hover {
  background-color: #D6A9A3; /* Soft Mocha */
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
  min-width: 280px;
}

.hero-image img {
  width: 100%;
  max-width: 280px;
  height: auto;
  border-radius: 20px;
  background: #F6F3EF;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

/* Projects */

#projects {
  max-width: 1100px;
  margin: 50px auto;
  padding: 0 50px;
  text-align: center;
}

.project {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  margin-top: 40px;
}

.project-card {
  padding: 30px;
  border-radius: 20px;
  color: #3A2F2A;
  box-shadow: 0 12px 25px rgba(58, 47, 42, 0.12);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 20px 40px rgba(58, 47, 42, 0.18);
}


/* Skills */

#skills {
  max-width: 900px;
  margin: 80px auto;
  padding: 0 50px;
  text-align: center;
}

#skills h2 {
  margin-bottom: 30px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  list-style: none;
  padding: 0;
}

.skills li {
  padding: 10px 18px;
  border-radius: 999px;
  background-color: #F8EDEB;
  color: #3A2F2A;
  font-weight: 500;
  font-size: 0.95rem;
  box-shadow: 0 6px 14px rgba(58, 47, 42, 0.1);
}

.skills li:hover {
  transform: translateY(-5px);
  background-color: #D6A9A3;
  color: #FFFFFF;
}


/* media  */
@media (max-width: 768px) {
  .nav-container {
    flex-direction: column;
  }

  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-text h1 {
    font-size: 2.2rem;
  }

  .hero-text p {
    margin: 0 auto 30px;
  }
}
