* {
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


.navbar {
    position: sticky;
    top: 0;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    z-index: 1000;
}

/* Hero section */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 80px 20px;
  max-width: 1100px;
  margin: 0 auto;
}

.hero-text {
  flex: 1;
}

.hero-text h1 {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero-text h1 span {
  color: #6c63ff; /* accent color */
}

.hero-text p {
  font-size: 1.1rem;
  max-width: 500px;
  margin-bottom: 30px;
  color: #555;
}

.hero-btn {
  display: inline-block;
  padding: 14px 26px;
  background-color: #6c63ff;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 500;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.hero-image img {
  width: 280px;
  border-radius: 20px;
  background: #eae9ff;
  padding: 20px;
}


@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-text h1 {
    font-size: 2.2rem;
  }

  .hero-text p {
    margin: 0 auto 30px;
  }
}
